
@import url('https://fonts.googleapis.com/css2?family=Julee&family=Lato:ital,wght@1,100&family=Oswald:wght@200&family=Raleway:wght@800&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');

.juleeFont {
  font-family: 'Tilt Neon', cursive;
}

.shorten {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.something:focus {
  background-color: #4069D2;
  color: white;
}